/* Header section */
img.logo {
  width: 300px;

  @include tablet {
    padding: 2rem 0;
    width: 500px;
  }

  @include desktop {
    display: flex;
    align-items: center;
    margin: 0 auto;

    width: 700px;
  }
}

/* Footer Page */
.site-footer {
  margin: 1rem 0;
  a {
    font-size: 1rem;
  }
  li {
    border-right: 1px solid #ffffff;
    line-height: 1;
    padding: 0.3rem 1rem;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
      @include tablet {
        border-right: 1px solid #ffffff;
      }
    }
  }
}

.site-info {
  @include flex;
  flex-wrap: wrap;
  margin: 4rem 0 3rem;

  @include tablet {
    margin: 4.5rem 0 3rem;
  }

  @include desktop {
    justify-content: flex-end;
  }

  p {
    display: flex;
    justify-content: space-between;

    @include tablet {
      margin: 0;
      padding-left: 1rem;
    }

    a {
      padding-left: 0.3rem;
    }
  }
}
