// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  align-items: center;
}

// Structure
@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
