/*  About */

.about {
  .entry-content {
    margin-top: 0;
  }
  .entry-title {
    margin-bottom: 0rem;
  }
  .hentry {
    margin-bottom: 0;
  }
}

/* All Archives Page */

.post-archives ul,
.category-archives ul,
.tag-archives ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  li {
    margin-right: 1.2rem;
    margin-bottom: 0.5rem;
    a {
      @include tablet {
        font-size: 1.25rem !important;
      }
    }
    @include tablet {
      font-size: 1.25rem;
    }
  }
}

/* Submit Quote Page */

.quote-submission {
  input[type='text'],
  input[type='url'] {
    width: 70%;
    max-width: 400px;
  }
  input,
  textarea {
    margin-bottom: 1rem;
    max-width: 600px;
  }
  p {
    margin-bottom: 0;
  }

  .fail-msg {
    color: yellow;
    font-family: $font-italic;
    font-size: 0.9rem;
  }
  span {
    color: red;
  }
}
.quote-submission-wrapper {
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem 0;
  }
  input,
  textarea {
    margin: 0.7rem 0;
  }
}

/*  General for all Pages */

.about,
.browse-archives,
.quote-submission {
  @include desktop {
    .entry-title {
      padding: 1rem 0;
    }
  }
}

.number-pagination {
  margin-top: 3rem;
  a,
  span {
    padding: 0 0.25rem;
  }
}
