/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* All Archives Page */

/* Main Page */
.home,
.blog {
  .entry-content {
    @include desktop {
      margin: auto;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
      @include tablet {
        font-size: 1.75rem;
      }
      @include desktop {
        font-size: 2.5rem;
      }
    }
  }
  .entry-meta {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
  .entry-title,
  .source {
    font-size: 1.25rem;
    a {
      text-decoration: none;
    }
  }

  .quote-left {
    background: url(../../images/quote-left-solid.svg);
    color: $color__link;
    height: 100px;
    width: auto;
    overflow: hidden;
    z-index: 2;
  }

  //   img.quote {
  //     display: none;
  //     @include desktop {
  //       display: flex;
  //       color: $color__link;
  //       padding-top: 2rem;
  //       width: 125px;
  //     }
  //   }

  // .blog,
  // .home {
  //   .site-content {
  //     @include desktop {
  //       &:before {
  //         color: $color__link;
  //         content: '/f10d';
  //         font-family: FontAwesome;
  //         font-size: 125px;
  //       }
  //       &:after {
  //         color: $color__link;
  //         content: '/f10e';
  //         font-family: FontAwesome;
  //         font-size: 125px;
  //       }
  //     }
  //   }
  // }
  .content-area {
    @include desktop {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
  .site-main {
    @include desktop {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
    }
  }
}

/* Submit About Page */
.page {
  input[type='text'],
  input[type='url'] {
    width: 75%;
  }
  .site-info {
    // margin-top: 0;
  }
}

/* Submit a Quote Page */
