/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
/* All Archives Page */
.post-archives ul,
.category-archives ul,
.tag-archives ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
  li {
    margin-right: 1.2rem;
    margin-bottom: 0.5rem;
    a {
      @include tablet {
        font-size: 1.25rem !important;
      }
    }
    @include tablet {
      font-size: 1.25rem;
    }
  }
}

/*  About Submit Page */
.page {
  @include tablet {
    .entry-title {
      margin: 2rem 0;
      margin-bottom: 3rem;
    }
  }

  input[type='text'],
  input[type='url'] {
    width: 75%;
  }
}

/* Main Page */
.home,
.blog {
  .entry-content {
    @include desktop {
      margin: auto;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
      @include tablet {
        font-size: 1.75rem;
      }
      @include desktop {
        font-size: 2.5rem;
      }
    }
  }
  .entry-meta {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
  .entry-title,
  .source {
    font-size: 1.25rem;
    a {
      text-decoration: none;
    }
  }
  @include desktop {
    button,
    input[type='button'],
    input[type='reset'],
    input[type='submit'] {
      display: flex;
      margin: 0 auto;
    }
  }
}

/* Quotes */
i,
.fas,
.fa-quote-left {
  display: none;
  &::before,
  &::after {
    display: none;
  }
  @include desktop {
    color: $color__link;
    padding-top: 2rem;
    font-size: 125px;
    &::before,
    &::after {
      display: block;
    }
  }
}

/* Submit a Quote Page */
.quote-submission {
  label {
    padding-bottom: 0.75rem;
  }
  input,
  textarea {
    margin-bottom: 1rem;
  }
}

/* 404 Page */
.error-404,
.not-found {
  fieldset {
    border: none;
    margin-left: 0;
    padding-left: 0;
  }
  i,
  .fa,
  .fa-search {
    font-size: 20px;
  }

  .search-form input[type='search'] {
    padding-left: 0.75rem;
    width: 240px;
    @include tablet {
      font-size: 1.25rem;
    }
  }

  .search-submit {
    border: none;
    padding: 0 0.7rem;
  }
}
.error404 {
  .site-main {
    margin-left: 2rem;
    padding-left: 0;
  }
}
